//========== SLIDER ==========
.slider {
  max-width: 144rem;
  margin-bottom: 2rem;
  padding: 6.3rem 16.5rem;
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: 48.4%;
  background-position: bottom 0px right 7.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  @include respond(tablet-landscape) {
    background-size: 48%;
  }

  @include respond(tablet-portrait) {
    padding: 0;
    background-position: top center;
    background-size: 62% auto;
    align-items: flex-start;
  }

  @include respond(small-tablet) {
    background-size: 75% auto;
  }

  @include respond(mobile) {
    background-size: 100% auto;
  }

  &__slides {
    width: 100%;
    display: flex;

    @include respond(tablet-portrait) {
      margin-top: 3rem;
    }
  }

  &__slide {
    flex: 1 0 100%;
    margin-right: 21.5rem;

    @include respond(tablet-portrait) {
      flex: 1 0 100%;
    }
  }

  &__slide-content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tablet-portrait) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__buttons {
    flex: 0 0 auto;
    width: 11.2rem;
    height: 5.6rem;
    box-shadow: var(--box-shadow-2);
    display: flex;

    position: absolute;
    bottom: 6.5%;
    right: 36%;

    @include respond(tablet-landscape) {
      bottom: 7.5%;
    }

    @include respond(tablet-portrait) {
      top: 41vw;
      right: 50%;
      transform: translateX(50%);
    }

    @include respond(small-tablet) {
      top: 48vw;
    }

    @include respond(mobile) {
      width: 8rem;
      height: 4rem;
      top: 70vw;
    }
  }

  &__button {
    flex: 0 0 50%;
    background-color: #fff;
    cursor: pointer;

    &--prev {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &--next {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button-icon {
    stroke: var(--dark-grayish-blue);
    transition: stroke 0.2s;
  }

  &__button:hover &__button-icon {
    stroke: var(--grayish-blue);
  }

  &__button:active &__button-icon {
    stroke: var(--dark-grayish-blue);
  }
}

//========== TESTIMONIAL ==========
.testimonial {
  width: 100%;
  // height: 85vh;

  &__text {
    color: var(--dark-blue);
    flex: 0 1 57.2%;
    margin-right: -5.8%;
    z-index: 1;
    position: relative;

    @include respond(tablet-portrait) {
      order: 1;
      flex: initial;
      margin-right: 0;
      margin-top: 13rem;
      text-align: center;
    }

    @include respond(mobile) {
      margin-top: 7rem;
    }

    @include respond(small-mobile) {
      margin-top: 5rem;
    }
  }

  &__quotation-marks {
    position: absolute;
    top: -6.5rem;
    left: 9.5rem;

    @include respond(tablet-portrait) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include respond(mobile) {
      width: 6rem;
      height: 5rem;
      top: -2.5rem;
    }

    @include respond(small-mobile) {
      width: 4rem;
      height: auto;
      top: -1rem;
    }
  }

  &__quote {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.375;
    margin-bottom: 3.2rem;

    @include respond(tablet-landscape) {
      font-size: 2.5rem;
    }

    @include respond(tablet-portrait) {
      font-size: 3.2rem;
    }

    @include respond(small-tablet) {
      font-size: 2.2rem;
    }

    @include respond(mobile) {
      font-size: 1.8rem;
      margin-bottom: 1.9rem;
    }

    @include respond(small-mobile) {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }
  }

  &__cite {
    font-size: 2rem;
    font-style: normal;

    @include respond(tablet-landscape) {
      font-size: 1.6rem;
    }

    @include respond(tablet-portrait) {
      font-size: 2rem;
    }

    @include respond(tablet-portrait) {
      font-size: 2.2rem;
      line-height: 1.5;
    }

    @include respond(mobile) {
      font-size: 1.5rem;
      line-height: 1.3;
    }

    @include respond(small-mobile) {
      font-size: 1.2rem;
    }

    &--name {
      font-weight: 700;
      margin-right: 8px;

      @include respond(tablet-landscape) {
        margin-right: 0;
        display: block;
      }
    }

    &--role {
      color: var(--grayish-blue);
    }
  }

  &__img {
    flex: 0 1 48.65%;

    @include respond(tablet-portrait) {
      flex: initial;
      width: 50%;
    }

    @include respond(small-tablet) {
      width: 60%;
    }

    @include respond(mobile) {
      width: 77.7%;
    }
  }

  &__photo {
    width: 100%;
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;

    @include respond(tablet-portrait) {
      width: 100%;
    }
  }
}

//========== ATTRIBUTION ==========
.attribution {
  flex: 1 0 100%;
  display: block;
  font-size: 11px;
  text-align: center;
  bottom: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
